
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Passenger view</title>
</head>
<body>
    <h1>Flights Schedule</h1>
    <table>
        <tr>
            <th>Airline</th>
            <th>Status</th>
            <th>Baggage Claim</th>
            <th>Gate</th>
            <th>Time</th>
        </tr>
        {% for item in details %}
        <tr>
            <td>{{ item.airline.name }}</td>
            <td>{{ item.status }}</td>
            <td>{{ item.baggage_claim.label }}</td>
            <td>{{ item.gate.label }}</td>
            <td>{{ item.schedule_time }}</td>
        </tr>
        {% endfor %}
    </table>
    
</body>
</html>