<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    body {
      background-image: url('https://burst.shopifycdn.com/photos/clouds-from-aircraft-window.jpg?width=1200&format=pjpg&exif=1&iptc=1');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
    }
</style>
<body>
    <center>
    <h1>This is the Home Page!</h1>
    <p>Please select one of the options from below!</p>
    <a href="{% url 'flights_options' %}">View flight schedule</a><br>
    <a href="{% url 'airport_login' %}">Login as airport employee</a><br>
    <a href="{% url 'airline_login' %}">Login as airline employee</a><br>
    </center>
</body>
</html>